.profile {
  display: grid;
  grid-template-columns: 120px minmax(min-content, 550px) 150px;
  gap: 30px;
  align-items: center;
  margin: 0 auto 50px;
}

@media screen and (max-width: 879px) {
  .profile {
    display: flex;
    gap:0;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto 36px;
  }
}
